* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

body {
    min-height: 100vh;
    background-color:hsl(27, 66%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-balance{
    background-color: hsl(10, 79%, 65%);
    color: hsl(33, 100%, 98%);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 20px;
}

.my-balance p{
    font-weight: 400;
    font-size: small;
}

.my-balance h3{
    font-weight: 700;
    font-size: x-large;
    padding-top: 10px;
}

.card-chart {
    background-color: hsl(33, 100%, 98%);
    color: hsl(25, 47%, 15%);
    padding: 25px;
    margin-top: 18px;
    border-radius: 20px;
}

hr{
    width: 100%;
    background-color: hsl(28, 10%, 53%);
}

.summary{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

span{
    color: hsl(28, 10%, 53%);
    font-size: small;
    font-weight: 400;
}

.difference{
    align-self: flex-end;
    text-align: right;
}

#myChart{
    margin-bottom: 8px;
    width: 100%
}


